@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <p>
        4)Ввести целое число N. Выяснить, кратно ли оно семи.
    </p>
    <p>
        11)Дано предложение. Удалить из него все буквы с. Под удалением понимается исключение этого символа из строки путем смещения всех следующих за ним символов влево на одну позицию и присваивание последнему символу исходной строки значения "_".
    </p>
    <p>
        4)В массиве из 2n чисел найти сумму квадратов элементов с четными индексами и сумму кубов элементов с четными индексами.
    </p>
</div>