<div>
    <form method="post">
        <p>Введите текст: </p>
        <p>
            <input type="text" name="textTextBox"/>
        </p>
        <input type="submit"/>
        <p>Результат:</p>
        <p>@ViewBag.result</p>
    </form>
</div>