<div>
    <form method="post">
        <p>Введите количество элементов массива: </p>
        <input type="text" name="textTextBox"/>

        <input type="submit"/>
        <p> Массив:
                    @ViewBag.mas
        </p>
        <p>
            @ViewBag.result
        </p>
    </form>
</div>